@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/*repeat the automated process*/
.centerBox
{
	position: relative;
	height: 500px;
	width: 800px;
	margin: 200px auto;
	padding: 20px;
	border: 5px solid #47c53f;
	border-radius: 10px;
	background: linear-gradient(45deg,#9eceff,#70fb8e);
}
fieldset
{
	border-radius: 10px;
	border: 2px solid #000000;
}
legend
{
	font-family:  'Oswald', sans-serif;
	font-size: 1.2em;
	letter-spacing: 2px;
	color: #ffffff;
	/*-webkit-text-stroke: 1px #000000;*/
}

#tab_1
{
	display: table;
	width: 100%;
	font-size: 1.5em;
}

table
{
	font-family: 'Oswald', sans-serif;
  border-collapse: separate;
  border-spacing: 0 15px;
}

input
{
	line-height: 30px;
	font-size: 20px;
	border: 0px solid #ffffff;
	border-radius: 5px;
}

select
{
	border-radius: 5px;
	border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
	font-family: 'Oswald', sans-serif;
	background-color: #053ae5;
}

select:focus {
    min-width: 150px;
    width: auto;
}
#ph_no::-webkit-outer-spin-button,
#ph_no::-webkit-inner-spin-button
{
	-webkit-appearance: none;
}

.showbtn
{
	border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
	font-family: 'Oswald', sans-serif;
	background-color: #119fc5;
}
.btn
{
	border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
	font-family: 'Oswald', sans-serif;
}

.btn1{background-color: #4CAF50;}
.btn2{background-color: #ff2300;}
.btn3{background-color: #44cef7}
