@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/*repeat the automated process*/
.centerBox
{
	position: relative;
	height: 500px;
	width: 800px;
	margin: 200px auto;
	padding: 20px;
	border: 5px solid #56ffef;
	border-radius: 10px;
	background: linear-gradient(45deg,#9accff,#47f1e9);
  box-shadow:50px 50px 120px #71d0c3;
}
fieldset
{
	border-radius: 10px;
	border: 2px solid #000000;
}
legend
{
	font-family:  'Oswald', sans-serif;
	font-size: 1.2em;
	letter-spacing: 2px;
	color: #ffffff;
	/*-webkit-text-stroke: 1px #000000;*/
}

#tab_1
{
	display: table;
	width: 100%;
	font-size: 1.5em;
}

table
{
	font-family: 'Oswald', sans-serif;
  border-collapse: separate;
  border-spacing: 0 15px;
}

input
{
	line-height: 30px;
	font-size: 20px;
	border: 0px solid #ffffff;
	border-radius: 5px;
}
/*PW Show hide button*/
.showbtn
{
	border: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
	font-family: 'Oswald', sans-serif;
	background-color: #ffffff;
}

/*Radio button*/
select
{
	border-radius: 5px;
	border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
	font-family: 'Oswald', sans-serif;
	background-color: #820000;
}

select:focus {
    min-width: 150px;
    width: auto;
}
#ph_no::-webkit-outer-spin-button,
#ph_no::-webkit-inner-spin-button
{
	-webkit-appearance: none;
}

/*Radio button*//*
input[type="radio"]
{
	height: 12px;
	width: 12px;
}
*/
input[type=radio]
{
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
/*Register, Cancel, Login*/
.btn
{
	border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: all 0.5s;
  cursor: pointer;
	font-family: 'Oswald', sans-serif;
}

.btn1{background-color: #4CAF50;}
.btn2{background-color: #ff2300;}
.btn3{background-color: #326ab8}

/*Button span*/
.btn span
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

/*Custon button span after*/
.btn1 span:after
{
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn2 span:after
{
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn3 span:after
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
/*btn1*/
.btn1:hover
{
	background-color: #1a75ff;
}
/*
.btn1:hover span:after
{
  opacity: 1;
  right: 0;
}*/
/*btn2*/
.btn2:hover span
{
  padding-right: 25px;
}

.btn2:hover span:after
{
  opacity: 1;
  right: 0;
}
/*btn3*/
.btn3:hover span
{
  padding-right: 25px;
}

.btn3:hover span:after
{
  opacity: 1;
  right: 0;
}
